.nextIcon {
    font-size: 50px;
    color: green;
}

.text {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    display: inline;
    padding: 0;
    margin: 0;
}

.borderAroundCarousel {
    border: 1px solid gray;
}