.text {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    display: inline;
}

.selectionText{
    font-family: 'Anton', sans-serif;
    font-size: 5vw;
}

.forGettingHeightOfImage {

}

.forSettingHeightOfDiv {

}