.imageSize {
    width: 90%;
}

.startIcon {
    position: fixed;
    bottom: 0;
    margin: 5% auto;
    /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
}

.iconSize {
    font-size: 120px !important;
}