/* @import url('https://fonts.googleapis.com/css?family=Anton'); */

@font-face {
    font-family: Anton;
    src: url('./assets/fonts/Anton/Anton-Regular.ttf');
}

@font-face {
    font-family: Monoton;
    src: url('./assets/fonts/Monoton/Monoton-Regular.ttf');
}

@font-face {
    font-family: Slant;
    src: url('./assets/fonts/SLANT.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}